{% extends 'base.html' %}

{% block content %}
<h2>Welcome, {{ user.username }}!</h2>
<h3>Product List</h3>
<ul class="product-list">
    {% for product in products %}
        <li class="product-item">
            {{ product.name }}
            <a href="{% url 'add_favorite' product.id %}" class="button">
                {% if product in user_favorites %}
                    Remove from Favorites
                {% else %}
                    Add to Favorites
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
